$home-max-page-width: 1320px;


$primaryColor: '#536eff';
$secondaryColor: '#29a5ff';
$backgroundColor: '#ffffff';
$accentColor: '#ffd338';
$textColor: '#616476';
$redColor: '#f27059';
$greenColor: '#7be4a5';


$titleText: 48 px;
$description: 18px;
$menuBar: 24px;
$heading: 40px;
$headingDescription: 16px;

// Tiles design
$tileHeading: 16px;
$tileDescription: 12px;
$smallText: 10px;
$footerText: 18px;

